<!-- <h1> Date Over</h1> -->


<table style="width:1000px; margin-left:auto;margin-right:auto;   margin-bottom:5px;" cellpadding="0" cellspacing="0">



<script>
	function appsub(x) {
		document.getElementById("applying_saub").value = x;

	}
</script>

<tr><td colspan="12" ALIGN=MIDDLE style="color:grey;font-size:30px;">
Sreechaitanya College, Habra(Arts & Science)<hr>
PG Admission For The Session 2019-20 (Bengali)
</td></tr>

</table>


<div id="BDy" style="background-color:#D3E3F6; width:860px; margin: 0 auto; padding:20px;">
<style>#tt > td{
width:200px;
}
.dd2{
width:120px;
}
.ip1{
text-align:center;width:50px;padding:3px;border-radius:3px;
}
.F_txt{
	width:100%;padding:6px;border-radius:3px;font-size:1.2em;font-weight:bold;color:rgb(89, 85, 85);
}

.F{
	padding:3px;border-radius:3px; font-weight:bold;color:rgb(89, 85, 85);
}
</style>


<form id="sree" method="post" action="admission"  enctype="multipart/form-data">
	<input type="hidden"  name="AdmF" value="Sub">
	<input type="hidden"  name="S_ID" value="NA">
	<input type="hidden" name="formid" value="BMMV_PG_19">
	<fieldset><legend>Personal Information</legend>

	<table ALIGN=LEFT style="width:100%;">
		<tr>
			<td>NAME:</td>
			<td > <input  class="F_txt" type="text" name="NAME" required  style="text-transform:uppercase; "> </td>
		</tr>
		<tr>
			<td>Mobile:</td>
			<td ><input class="F_txt" type="tel" maxlength="10"  name="MOBILE" required ></td>
		</tr>
		<tr>
			<td>E-mail :</td>
			<td > <input  class="F_txt" type="email" name="EMAIL" required style="text-transform:lowercase;" > </td>
		</tr>
		<tr>
			<td>FATHER  :</td>
			<td ><input  class="F_txt" style="text-transform:uppercase;" type="text" name="FATHER_NAME" required ></td>
		</tr>
		<tr>
			<td>GUARDIAN  :</td>
			<td ><input class="F_txt" style="text-transform:uppercase;" type="text" name="GUARDIAN_NAME" required ></td>
		</tr>
		<tr>
			<td>ADDRESS :</td>
			<td><textarea class="F_txt" name="ADDRESS"  style=" height:100px;" required>
Vill=
P.S.=
Dist=
PIN=
			</textarea></td>
		</tr>
		<tr>
			<td>DATE OF BIRTH :</td>
			<td>
				<table><tr><td><div> DATE </div><select name="DOB_DATE" style="width:60px;" class="inpt_01">
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
				</td>
				<td><div> MONTH </div> <select name="DOB_MONTH" style="width:60px;" class="inpt_01">
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				</select></td>
				<td><div> YEAR </div>
				<select name="DOB_YEAR" style="width:100px;" class="inpt_01">
				<option value="2005">2005</option>
				<option value="2004">2004</option>
				<option value="2003">2003</option>
				<option value="2002">2002</option>
				<option value="2001">2001</option>
				<option value="2000">2000</option>
				<option value="1999">1999</option>
				<option value="1998">1998</option>
				<option value="1997">1997</option>
				<option value="1996">1996</option>
				<option value="1995">1995</option>
				<option value="1994">1994</option>
				<option value="1993">1993</option>
				<option value="1992">1992</option>
				<option value="1991">1991</option>
				<option value="1990">1990</option>
				<option value="1989">1989</option>
				<option value="1988">1988</option>
				<option value="1987">1987</option>
				<option value="1986">1986</option>
				<option value="1985">1985</option>
				<option value="1984">1984</option>
				<option value="1983">1983</option>
				<option value="1982">1982</option>
				<option value="1981">1981</option>
				<option value="1980">1980</option>
				</select></td></tr></table>
		</td>
	</tr>
</table>
<br>
<table ALIGN=MIDDLE style="padding:19px;width:100%;">
		<tr><td>
		Gender :
		<select name="GENDER" class="F">
		<option value="Male">Male</option>
		<option value="Female">Female</option>
		<option value="Trans">Trans</option>
		</select>
		</td>

		<td>
		Religion :
		<select name="RELIGION" class="F">
			<option value="HINDU">HINDU</option>
			<option value="MUSLIM">MUSLIM</option>
			<option value="CHRISTIAN">CHRISTIAN</option>
			<option value="JAIN">JAIN</option>
			<option value="SIKH">SIKH</option>
			<option value="BUDDHIST">BUDDHIST</option>
			<option value="OTHERS">OTHERS</option></select>
		</td>
		<td>
		Caste :
		<select name="CASTE" class="F">
			<option value="GENL">GENERAL</option> <option value="SC">SC</option>
			<option value="OBC-A">OBC-A</option> <option value="OBC-B">OBC-B</option>
			<option value="ST">ST</option></select>
		</td>
		</tr>

		<tr><td>Disability
		<select name="DISABILITY" class="F">
		<option value="NO">No</option>
		<option value="PH_10">PH upto 10&#37 </option>
		<option value="PH_20">PH upto 20&#37 </option>
		<option value="PH_30">PH upto 30&#37 </option>
		<option value="PH_40">PH upto 40&#37 </option>
		<option value="PH_50">PH upto 50&#37 </option>
		<option value="PH_60">PH upto 60&#37 </option>		</select>
		</td>


		<td>Blood Group :
		<select name="BLOOD_GROUP" class="F">
		<option value="A+"> A+ </option>
		<option value="A-"> A- </option>
		<option value="B+"> B+ </option>
		<option value="B-"> B- </option>
		<option value="AB+"> AB+ </option>
		<option value="AB-"> AB- </option>
		<option value="O+"> O+ </option>
		<option value="O-"> O- </option></select></td>


		</tr>
 </table>
		Whether Donated Blood :
		<input type="radio" name="BLOOD_DONATED" value="Yes">YES
		<input type="radio" name="BLOOD_DONATED" value="NO">NO
<br><br>


</fieldset>



 <fieldset><legend>Educational Information</legend>
<table>

	<tr>
		<td>University :</td>
		<td><select name="UNIVERSITY" class="F">
			<option value="West Bengal State University">West Bengal State University</option>
			<option value="Vidya Sagar University">Vidya Sagar University</option>
			<option value="Rabindra Bharati University">Rabindra Bharati University</option>
			<option value="Presidency University">Presidency University</option>
			<option value="North Benagal University">North Benagal University</option>
			<option value="Netaji Shubhash Open University">Netaji Shubhash Open University</option>
			<option value="Kalyani University">Kalyani University</option>
			<option value="Jadavpur University">Jadavpur University</option>
			<option value="Diamond Harbour Women s University">Diamond Harbour Women s University</option>
			<option value="Calcutta University">Calcutta University</option>
			<option value="Aliah University">Aliah University</option>
			<option value="Others">Others</option>
			</select></td>

	</tr>

	<tr>
		<td>College NAME :</td>
		<td><input type="text" style="text-transform:uppercase;width:300px; " class="F" name="COLLEGE" required></td>
	</tr>

	<tr>
		<td> YEAR OF PASSING :</td>
		<td><select name="YEAR_OF_PASSING" onchange="yop(this.value)" class="F">
			<option value="2019">2019</option>
			<option value="2018">2018</option>
			<option value="2017">2017</option>
			<option value="2016">2016</option>
			<option value="2015">2015</option>
			<option value="2014">2014</option>
			<option value="2013">2013</option>
			</select></td>
	</tr>
</table>



<table id="tt" style="margin-left:10px;padding:10px;">
	<tr >
		<td></td>
		<td>Subject Name</td>
		<td >Full Marks</td>
		<td>Pass Marks</td>
		<td>Marks Obtained</td>
	</tr>




	<tr>
		<td> Hons :</td>
		<td class="dd2">
			<select name="H_NM" style="width:90px;"  onchange="appsub(this.value)" >  <option value=""> Select </option> <!--<option value="Bengali">Bengali</option>-->
			<option value="Chemistry">Chemistry</option>
<option value="Chemistry">Bengali</option>
<option value="Chemistry">Anthro</option>		
	  </select></td>
		<td class="dd2"><input type="tel" class="ip1" name="H_FM" id="t1" maxlength="4"  required></td>
		<td class="dd2"><input type="tel" class="ip1" name="H_PM" id="t2" maxlength="4"  required></td>
		<td class="dd2"><input type="tel" class="ip1" name="H_MO" id="t3" maxlength="4"  required></td>

	</tr>
	<tr>
		<td> GEN 1 :</td>
		<td><input type="TEXT" style="width:90px;" class="ip1" id="p1" name="G1_NM" maxlength="4" required></td>
		<td><input type="tel" class="ip1" id="p1" name="G1_FM" maxlength="4" required></td>
		<td><input type="tel" class="ip1" id="p2" name="G1_PM" maxlength="4" required></td>
		<td><input type="tel" class="ip1" id="p3" name="G1_MO" maxlength="4" required></td>

	</tr>
	<tr>
		<td>Gen 2 :</td>
		<td><input type="TEXT"  style="width:90px;" class="ip1" name="G2_NM"  maxlength="4" onchange="passd(this.value)" required></td>
		<td><input type="tel" class="ip1" name="G2_FM"  maxlength="4" onchange="passd(this.value)" required></td>
		<td><input type="tel" class="ip1" name="G2_PM"  maxlength="4" onchange="passd(this.value)" required></td>
		<td><input type="tel" class="ip1" name="G2_MO"  maxlength="4" onchange="pass(this.value)" required></td>

	</tr>


</table><br>
<strong> * Percentage, aggregate will be auto calculated.</strong>
</fieldset>

 <br><br>
 		<div style="float:left;" >Applying For <input type="text" id="applying_saub" required disabled style="font-size:1.3em; "> </div>
 <br><br><br>

<fieldset id="dd"><legend>File Upload... </legend> 
<strong><p>Maximum file size allowed 140 kb</p></strong><hr>
<div> SELECT YOUR IMAGE TO UPLOAD </div> <input type="file" name="Photo" required ><hr>
<div> SELECT YOUR SIGNATURE TO UPLOAD </div> <input type="file" name="sign" required ><hr>
<div> SELECT YOUR Part III marksheet(Optional) </div> <input type="file" name="mark"><hr>

</fieldset>



<br>
<center> <input type="submit" style="width:250px; height:30px;" value="Submit"  > </center>

</form>

<br><br><br>



</div>
